<div class="wrapper">
    <div class="title-text">
        <div class="title signup">Signup</div>
    </div>
    <div class="form-inner">
        <form action="#" class="signup" #signupForm="ngForm" (ngSubmit)="registerCustomer()">
            <div class="field">
                <input type="text" placeholder="Name" required name="name" #name="ngModel" [(ngModel)]="customer.username">
            </div>
            <div class="field">
                <input type="email" placeholder="Email Address" required name="email" #email="ngModel" [(ngModel)]="customer.email">
            </div>
            <div class="field">
                <input type="text" placeholder="Mobile Number" required name="mobile" #number="ngModel" [(ngModel)]="customer.mobileNumber">
            </div>
            <div class="field">
                <input type="password" placeholder="Password" required name="password" #password="ngModel" [(ngModel)]="customer.password">
            </div>
            <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup">
            </div>
        </form>
    </div>
</div>