<div class="background">
    <div class="container mt-5 d-flex justify-content-center" style="float: left; margin-left: 13%;">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <div class="image"> <img src="../../assets/user.png" class="rounded" width="110"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">Customer</h4>
                    
                    <div class="button mt-2 d-flex flex-row align-items-center"> <a class="btn btn-sm btn-outline-primary w-100" href="customer/login">Login</a> <a class="btn btn-sm btn-primary w-100 ml-2" href="customer/signup">Sign Up</a> </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3" style="margin-top: 5%;">
            <div class="d-flex align-items-center">
                <div class="image"> <img src="../../assets/car.png" class="rounded" width="155"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">Driver</h4>
                    
                    <div class="button mt-2 d-flex flex-row align-items-center"> <a class="btn btn-sm btn-outline-primary w-100" href="driver/login">Login</a> <a class="btn btn-sm btn-primary w-100 ml-2" href="driver/signup">Sign Up</a> </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-5 d-flex justify-content-center" >
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <div class="image"> <img src="../../assets/admin.png" class="rounded" width="155"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">Admin</h4>
                    <div class="button mt-2 d-flex flex-row align-items-center"> <a class="btn btn-sm btn-outline-primary w-100" href="admin/login">Login</a> <a class="btn btn-sm btn-primary w-100 ml-2" href="admin/signup">Sign Up</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>