<ul>
    <li style="float: left; font-size: 25px; color: white; margin-top: 5px; margin-left: 15px;">Cab Booking Application</li>
    <li><a href="/">Log out</a></li>
</ul>
<div class="sidenav">
    <img src="../../assets/lion.gif" alt="Avatar" height="100px;" width="100px;" style="margin-left: 70px;"><br><br>
    <span style="color: white; font-size: 22px;padding: 6px 8px 6px 16px; margin-left: 10px;">Id: {{customer.customerId}}</span><br>
    <span style="color: white; font-size: 25px;padding: 6px 8px 6px 16px; margin-left: 10px;">{{customer.username}}</span>
    <hr style="width: 60%; background-color: rgb(228, 225, 225);">
    <a (click)= "goBookCab()" style="color: grey;" >Book Cab</a>
    <a href="#clients">Ongoing Trips</a>
    <span class="active" style="font-size: 25px; color: white; margin-top: 5px; margin-left: 15px;">Your Trips</span>
    <a (click)= "goUpdate()">Update Profile</a>
</div>
<div class="main">
    <table id="customers">
        <tr>
          <th>Pick up spot</th>
          <th>Drop spot</th>
          <th>Driver Name</th>
          <th>Cab No.</th>
          <th>Date</th>
          <th>Total Bill</th>
          <th>Status</th>
        </tr>
    </table>
</div>


<router-outlet></router-outlet>