<ul>
    <li style="float: left; font-size: 25px; color: white; margin-top: 5px; margin-left: 15px;">Cab Booking Application</li>
    <li><a href="/">Log out</a></li>
</ul>
<div class="sidenav">
    <img src="../../assets/lion.gif" alt="Avatar" height="100px;" width="100px;" style="margin-left: 70px;"><br><br>
    <span style="color: white; font-size: 22px;padding: 6px 8px 6px 16px; margin-left: 10px;">Id: {{admin.adminId}}</span><br>
    <span style="color: white; font-size: 25px;padding: 6px 8px 6px 16px; margin-left: 10px;">{{admin.username}}</span>
    <hr style="width: 60%; background-color: rgb(228, 225, 225);">
    <a (click)= "deleteUsers()" style="color: white;">Delete Users</a>
    <a (click)= "updateAdmin()">Update Admin Details</a>
    <a (click)= "allTrips()">View All Trips</a>
    <a (click)= "tripsDateWise()">Date-Wise Trips</a>
    <a (click)= "tripsCabWise()">Cab-Wise Trips</a>
    <a (click)= "tripsCustomerWise()">Customer-Wise Trips</a>
    <a (click)= "tripsDateRange()">Trips Range of Days</a>
</div>

<div class="main">
    <div class="wrapper" style="float: left; margin-left: 15%; margin-top: 15%;">
        <div class="title-text">
            <div class="title signup">Delete Admin</div>
        </div>
        <div class="form-inner">
            <form action="#" class="signup" #signupForm="ngForm" (ngSubmit)="deleteAdmin()">
                <div class="field">
                    <input type="text" placeholder="Admin ID" required name="name" #name="ngModel" [(ngModel)]="admin.adminId">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Delete Admin">
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper" style="float: left; margin-left: 5%; margin-top: 15%">
        <div class="title-text">
            <div class="title signup">Delete Customer</div>
        </div>
        <div class="form-inner">
            <form action="#" class="signup" #signupForm="ngForm" (ngSubmit)="deleteCustomer()">
                <div class="field">
                    <input type="text" placeholder="Customer ID" required name="name" #name="ngModel" [(ngModel)]="customer.customerId">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Delete Customer">
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper" style="float: left; margin-left: 5%; margin-top: 15%">
        <div class="title-text">
            <div class="title signup">Delete Driver</div>
        </div>
        <div class="form-inner">
            <form action="#" class="signup" #signupForm="ngForm" (ngSubmit)="deleteDriver()">
                <div class="field">
                    <input type="text" placeholder="Driver ID" required name="name" #name="ngModel" [(ngModel)]="driver.driverId">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Delete Driver">
                </div>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>