
<ul>
    <li style="float: left; font-size: 25px; color: white; margin-top: 5px; margin-left: 15px;">Cab Booking Application</li>
    <li><a href="/">Log out</a></li>
</ul>
<div class="sidenav">
    <img src="../../assets/lion.gif" alt="Avatar" height="100px;" width="100px;" style="margin-left: 70px;"><br><br>
    <span style="color: white; font-size: 22px;padding: 6px 8px 6px 16px; margin-left: 10px;">Id: {{admin.adminId}}</span><br>
    <span style="color: white; font-size: 25px;padding: 6px 8px 6px 16px; margin-left: 10px;">{{admin.username}}</span>
    <hr style="width: 60%; background-color: rgb(228, 225, 225);">
    <a (click)= "deleteUsers()">Delete Users</a>
    <a (click)= "updateAdmin()">Update Profile</a>
    <a (click)= "allTrips()" >View Trips</a>
    <a (click)= "getAllDrivers()" >View Drivers</a>
    <a (click)= "getAllCustomers()" style="color: white;">View Customers</a>
    <a (click)= "tripsCustomerWise()">Customer-Wise Trips</a>
    <a (click)= "tripsDateRange()">Trips Range of Days</a>
</div>

<div class="main">
    <table id="customers">
        <tr>
          <th>Customer ID</th>
          <th>Customer Name</th>
          <th>Customer Email</th>
          <th>Customer Mobile Number</th>
        </tr>
        <tr *ngFor = "let customer of customerList">
            <td>{{customer.customerId}}</td>
            <td>{{customer.username}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.mobileNumber}}</td>
        </tr>
    </table>
</div>
